body{
    overflow: hidden;
    margin: 0;
    background-color: #323235;
    padding: 0;
    position: relative;
}

html, body{
    height: 100%;
}


button {
    outline-style: none;
}

.buttonText {
    margin-top: 5px;
    color: #D45D00;
    text-align: center;
    font-weight: bold;
    font-size: 11px;
}

.submit{
  border: none;
  background: transparent;
  color: #D45D00;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  font-family: Arial;
}

.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
}

.hidden{
  display: none;
}

.flex-logo{
    display: none;
}
.flex-logo__image{
    position: absolute;
    top: 10px;
    float: left;
    width: 175px;
}

.menu-icon{
    border: 0;
    background: transparent;
    width: 30px;
    z-index: 2;
    align-content: center;

}

.menu-icon img{
    width: 30px;
}

.title{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 0px;
}

.title p{
    line-height: 20px;
    margin-top: 0px;
}

.title__roomkey{
    font-size: 20px;
    font-weight: bold;
}

.join-list{
    background-color: #c25b0b;
    width: 40%;
    height: 20rem;
    border: 1px solid white;
}

.join-list > #join-header{
    text-align: center;
    color: white;
}

.join-list > #join-header h3{
    margin-top: 0.5em;
}

.join-list > #join-player-list > li {
    color: white;
    font-family: "Arial";
    list-style: none;
}

.join-list > #join-player-list {
    color: white;
    padding: 0;
    margin-left: 20px;

}
.chat-icon{
    border: 0;
    background: transparent;
    width: 30px;
    z-index: 2;
    padding: 0;
}

.chat-icon img{
    width: 26px;
}

.two-button{

    margin-left: 10px;
    margin-top: 30px;
    padding: 0;
    list-style: none;
    float: left;

}

.two-button li{
    display: inline;
    padding-right: 5px;
}


.flex-chat__exit{
    background: transparent;
    color: white;
    outline-style: none;
    float: right;
    border: none;
    margin-top: 20px;
    margin-right: 15px;
    font-size: 20px;
}
.message-notification{
    background-color: #1a80b0;
}

.flex-app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100vh;
}

.grid-dimensions{
    height: 100%;
    width: 100%;
}

.flex-app__main {
    flex: 1 0 auto;
    text-align: center;
    font-size: 60%;
    height: inherit;
    width: inherit;

}


.points-counter{
    float: right;
}
.points-counter p{
    line-height: 32px;
    margin-top: 10px;
    margin-right: 10%;
}

.header-big-bold-text{
    font-size: 30px;
    font-weight: bold;
}

.flex-chat{
    border:2px solid lightgray;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.85);
    overflow: hidden;
    width: 40%;
    height: 100%;
    position: relative;
    flex-wrap: nowrap;
    word-wrap: normal;

}

.flex-chat-wrapper{
    position: absolute;
    top: 95px;
    margin: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 2;
}

.flex-chat__body{
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    padding: 7px;
    width: 100%;
    height: 20rem;
    word-wrap: break-word;
}


.flex-chat__body p{
    font-family: "Arial";
    font-weight: bold;
    color: lightgrey;
    font-size: 14px;
    word-wrap: break-word;
}

.chat-name{
    font-weight: bolder;
}

.message{
    margin-left: 10px;
    word-wrap: break-word;

}

.chat-alert{
    margin-left: 10px;
    font-style: italic;

}

.send-message{
    width: 60%;
}

.flex-chat__footer{
    background-color: rgba(0, 0, 0, 0.3);
    height: 3em;
    flex-wrap: nowrap;
}
 
.flex-menu{

    border: 10px solid #FFB000;
    border-radius: 25px;
    background-color: lightgray;
    padding: 5vh;
    max-height: 20em;
    max-width: 17em;
    z-index: 2;
    overflow: hidden;
    pointer-events: all;

}

.flex-menu-wrapper{
    position: absolute;
    top: 30px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

.flex-menu__action {
    display:block;
    font-family: "Arial";
    font-weight: bold;
    outline: none;
    padding: 2vh;
    border: 3px solid darkgrey;
    border-radius: 20px;
    color: #c25b0b;
    margin-bottom: 3vh;
    width: 100%;
}

.flex-menu__back{
    margin-top: 1vh;
}

.flex-menu__leaderboard{
    text-align: left;
    font-size: 12px;
    font-family: "Arial";
    color: #a63501;
    padding: 5px;
    max-height: 18.2em;
    overflow-y: scroll;
}


.top-list-switch{

    background: transparent;
    outline: none;
    border: 2px solid darkgrey;
    color: #c25b0b;
    font-weight: bold;
    font-family: "Arial";
    font-size: 18px;
    display: block;
    border-radius: 25px;
    position: relative;


}

.roomkey-alert p{
    color: #c25b0b;
    text-align: center;
}

.roomkey{
    font-weight: bold;
}

.flex-app__header {
    flex: 0 0 auto;
    text-align: center;
    font-family: "Arial";
    color: white;
    background-color: #EC8C46;
    font-size: 25px;
    height: 90px;
}

.flex-app__footer {
    flex: 0 0 auto;
    min-height: 10vh;
}


.full-board{
    border: 5px solid lightgrey;
    border-radius: 25px;
    overflow: hidden;
    height: 100vh;
    width: 100vh;
    perspective: 1px;
}

.wordSelected{
    background-color: #1a80b0 !important;
    color: white !important;
}

.flex-menu__leaderboard > #leaderboard_header{
    font-size: 24px;
}

.flex-menu__leaderboard > ol{
    margin: 0;
    padding: 0;
    text-align: left;
    margin-top: 10px;
}

.flex-menu__leaderboard > ol > li{
    font-weight: bold;
    color: #EA7822;
    padding: 3px;
    font-family: "Arial";
    font-size: 15px;
}
.flex-menu__leaderboard > ol > li > span{

    font-weight: lighter;
    color: black;
    font-size: 12px;
}

.flex-menu__leaderboard-header p{
    font-weight: bold;
}

.flex-menu__profile{
    text-align: left;
    padding: 0;
}

.flex-menu__profile-header{
    height: 20%;
    font-family: "Arial";
}

.propic{
    width: 5.5rem;
    height: 5rem;
    border: 2px solid white;
    border-top-left-radius: 16px;
}

.propic:hover{
    border-color:  #D45D00;
}

.propic-upload{
    display:none;
}

.flex-menu__profile-username p{
    margin-top: 0px;
    font-size: 20px;
    font-weight: bold;
}

.flex-menu__profile-rank p{
    font-size: 14px;
    font-weight: bold;
}

.flex-menu__profile-stats p{
    margin-top: 0px;
    padding: 0px;
    color: black;
    text-align: left;
    font-weight: bold;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Arial';
}

.stat{
    font-weight: normal;
}

.flex-menu__endgame p{
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    color: #D45D00;
}

.winner-name{
    font-weight: bolder;
}

.prompt{
    margin-top: 35px;
    color: #D45D00;
    text-align: center;
    font-weight: bold;
    font-family: Arial;
    z-index: 1;
}

.prompt__signin{
    margin-bottom: 40px;
}

.prompt__signin-error{
    font-style:italic;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    text-align: center;
    word-wrap: normal

}

.prompt input{
    border-radius: 25px;
    text-align: center;
}

@media only screen and (min-width: 800px){


    .full-board{
        height: 98vh;
        width: 100vh;
    }

    .chat-icon{
        display: none;
    }

    .flex-chat__exit{
        display: none;
    }

    .title{
        font-size: 31px;
    }

    .points-counter{
        font-size: 31px;
    }

    .header-big-bold-text{
        font-size: 36px;
    }

    .flex-app__main{
        font-size: 80%;
    }

}
